.container {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  height: 90vh;
}

.body {
  margin-left: 250px;
  margin-right: 250px;
  background-image: url(https://images3.alphacoders.com/685/685697.jpg);
  background-size: cover;
  background-position: center center;
}

#city-input {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 4px 40px;
  border-radius: 12px;
}

.temperature {
  font-size: 74px;
  text-align: center;
  margin-top: 135px;
  margin-left: 40px;
}

.units {
  position: relative;
  top: -85px;
  left: 90px;
  font-size: 25px;
}
.city-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  font-size: 50px;
  margin-top: 15px;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 50;
  margin-top: 4px;
}

.weather-info {
  margin-top: 140px;
  margin-right: 45px;
  margin-left: 20px;
  font-weight: 100;
  text-align: left;
}

.weather-sun {
  width: 140px;
  margin-bottom: 20px;
}

#search-icon {
  padding: 5px 5px;
  border: 0px;
  background: transparent;
}

h2 {
  margin-bottom: 0px;
}

#nuvola {
  margin-top: 15px;
  width: 65px;
}

#rain {
  width: 60px;
}

#sole {
  width: 60px;
}

#fog {
  width: 60px;
}

#snow {
  width: 60px;
}

#gradi {
  margin-top: 8px;
}
